@import 'colores';


nav{

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: animationNAV 2s;

    img{
        width: 200px;
        padding: 1rem;
    }

    .menu{

        ul{
            list-style-type: none;
            display: flex;
            gap: 3rem;  
            padding: 2rem;

            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                margin: 5px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;

                &:hover{
                    transform: scale(1.1);
                    transition: 1s;
                    background-color: #d4cbbc;
                    border-radius: 20px;
                    padding: 10px;
                }
            }
        }
 
    }

    .fondo{
        z-index: -1;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 120px;
        background-color: #84a725;
    }
 
}

main{
    display: flex;
    justify-content: space-between;

    .fotos{
        display: flex;
        flex-direction: row;

    }

    .seccionfoto{
        background-color:#7dac66;
        width: 200px;
        height: 300px;
        margin: 20px;
        margin-bottom: 30px;

        &:hover{
            transform: scale(1.1);
            transition: 1.5s;
        }
    }

    // .lateral{
    //     margin-top: 20px;
    //     width: 20%;
    //     background-color: #f19960;
    // }
}

footer{
    padding: 10px;
    section{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}


@keyframes animationNAV {

    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
 
.paraVosNacho{
    position: absolute;
    bottom: 0px;
    left:-50px;
    

    animation:ParaVos 4s;
    
}

@keyframes ParaVos{
    
    0%{
        
        transform: translateX(-100%);
    }

    25%{
        
        transform: translateX(-60%);
    }

    50%{
        
        transform: translateX(-90%);
    }

    75%{
        
        transform: translateX(-50%);
    }

    75%{
        
        transform: translateX(-60%);
    }

    80%{
        
        transform: translateX(-75%);
    }

    100%{
        
        transform: translateX(0%);
    }
    
}